*{
    padding: 0;
    margin: 0;
}
header{
    @media screen and (max-width:600px) {
        height: 10vh;
        width: 100%;
        border: 1px solid;
    }
}
@media screen and (max-width:600px) {
    
}